.note-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__info{
        text-align: center;
    }
    &__image{
        width: 100%;
        height: 100%;
    }
    &:hover{
        background-color: rgb(231, 231, 231);
    }
}