.inspections-container{
    padding: 10px;
    &__link{
        margin: 4px 0 0 4px;
        display: inline-block;
        width: 30px;
        height: 30px; 
    }
}

.notes-container{
    padding: 10px;
    &__link{
        margin: 4px 0 0 4px;
        display: inline-block;
        width: 30px;
        height: 30px; 
    }
}

.form-container{
    padding: 10px;
    &__link{
        margin: 4px 0 0 4px;
        display: inline-block;
        width: 30px;
        height: 30px; 
    }
}
